# Presentation on OBIS MPA Project

![MPA](MPA.png)

In [15]:
# install all libraries needed

library(sf)
library(robis)
library(tidyverse)
library(ggplot2)
library(rnaturalearth)
library(RColorBrewer)
library(rnaturalearthdata)
library(vegan)

### Download MPA polygons from NOAA

In [ ]:
# Ben Tuppers Code: how to download NOAA MPAs, not to be run

### Choose MPA polygon(s) of interest

In [6]:
## Given the MPA of interest, extract data from OBIS withinn the MPA ##

# OBIS request function occurrence() in robis requires a text-formatted 
# geometry input this is a simple helper function to convert a standard 
# polygon shapefile into a suitable text-formatted geometry

extract_polygon_geometry <- function(polygon) {
  polygon %>%
    st_geometry(.) %>%
    st_as_text(.) %>%
    return(.)
}

In [7]:
# Load sample polygons - California MPA file
# Can replace this with global polygons when those are available

ca_mpa_polygons <- st_read("shapefiles/california_mpas/ca_all_mpas.geojson")


# subset a couple of MPA polygons

# Soquel Canyon is a little more offshore
soquel_canyon_smca <- ca_mpa_polygons %>% filter(MPA_NAME == "Soquel Canyon SMCA")

# Point Lobos is more coastal but an older MPA
point_lobos_smca <-ca_mpa_polygons %>% filter(MPA_NAME == "Point Lobos SMCA")

Reading layer `ca_all_mpas' from data source `/home/jovyan/ohw20-proj-species-marine-protected-areas/shapefiles/california_mpas/ca_all_mpas.geojson' using driver `GeoJSON'
Simple feature collection with 155 features and 14 fields
geometry type:  MULTIPOLYGON
dimension:      XY
bbox:           xmin: -124.5326 ymin: 32.53284 xmax: -117.1238 ymax: 42.00004
geographic CRS: WGS 84

### Get all species in MPA(s) from OBIS

In [8]:
## pull all OBIS records for two California MPAs ##

soquel_canyon_records <- occurrence(geometry = extract_polygon_geometry(soquel_canyon_smca))
point_lobos_records <- occurrence(geometry = extract_polygon_geometry(point_lobos_smca))

Retrieved 5000 records of approximately 6477 (77%)
Retrieved 6477 records of approximately 6477 (100%)
Retrieved 1600 records of approximately 1600 (100%)

In [9]:
# take a quick look at both MPAs
head(soquel_canyon_records)
dim(soquel_canyon_records)

head(point_lobos_records)
dim(point_lobos_records)

  brackish date_year
1  TRUE    2003
2 FALSE    2000
3    NA    1991
4    NA    2007
5 FALSE    2002
6    NA    2000
  references
1 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
2 NA
3 http://calcofi.org/publications/calcofireports/v57/Vol57-Sakuma_pages.163-183.pdf
4 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
5 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
6 NA
  scientificNameID                          scientificName
1 urn:lsid:marinespecies.org:taxname:558    Porifera
2 urn:lsid:marinespecies.org:taxname:124713 Psolus squamatus
3 urn:lsid:marinespecies.org:taxname:1128   Euphausiacea
4 urn:lsid:marinespecies.org:taxname:125267 Holaxonia
5 urn:lsid:marinespecies.org:taxname:132046 Polymastia
6 urn:lsid:marinespecies.org:taxname:135392 Nanomia
  coordinateUncertaintyInMeters absence individualCount dropped aphiaID ⋯
1 500m                          FALSE   1               FALSE      558  ⋯
2 NA                            FALSE   NA              FALSE   124713  ⋯
3 NA                            FALSE   7150            FALSE     1128  ⋯
4 50m                           FALSE   3               FALSE   125267  ⋯
5 500m                          FALSE   2               FALSE   132046  ⋯
6 NA                            FALSE   NA              FALSE   135392  ⋯
  parvorder parvorderid organismID category organismQuantity
1 NA        NA          NA         NA       NA
2 NA        NA          NA         NA       NA
3 NA        NA          NA         NA       NA
4 NA        NA          NA         NA       NA
5 NA        NA          NA         NA       NA
6 NA        NA          NA         NA       NA
  organismQuantityType infrakingdomid subkingdom infrakingdom subkingdomid
1 NA                   NA             NA         NA           NA
2 NA                   NA             NA         NA           NA
3 NA                   NA             NA         NA           NA
4 NA                   NA             NA         NA           NA
5 NA                   NA             NA         NA           NA
6 NA                   NA             NA         NA           NA

[1] 6477  148

  brackish date_year
1  TRUE    2007
2 FALSE      NA
3    NA    2000
4  TRUE    2007
5 FALSE    2007
6    NA    2000
  references
1 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
2 NA
3 NA
4 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
5 https://www.ncei.noaa.gov/erddap/tabledap/deep_sea_corals.csv?ShallowFlag%2CDatasetID%2CCatalogNumber%2CSampleID%2CCitation%2CRepository%2CScientificName%2CVern [...]
6 NA
  scientificNameID                          scientificName
1 urn:lsid:marinespecies.org:taxname:558    Porifera
2 urn:lsid:marinespecies.org:taxname:274838 Sebastes proriger
3 urn:lsid:marinespecies.org:taxname:123081 Crinoidea
4 urn:lsid:marinespecies.org:taxname:558    Porifera
5 urn:lsid:marinespecies.org:taxname:132016 Poecillastra
6 urn:lsid:marinespecies.org:taxname:123081 Crinoidea
  coordinateUncertaintyInMeters absence individualCount dropped aphiaID ⋯
1 50m                           FALSE   9               FALSE      558  ⋯
2 NA                            FALSE   NA              FALSE   274838  ⋯
3 NA                            FALSE   NA              FALSE   123081  ⋯
4 50m                           FALSE   2               FALSE      558  ⋯
5 50m                           FALSE   1               FALSE   132016  ⋯
6 NA                            FALSE   NA              FALSE   123081  ⋯
  island verbatimLocality collectionID islandGroup typeStatus
1 NA     NA               NA           NA          NA
2 NA     NA               NA           NA          NA
3 NA     NA               NA           NA          NA
4 NA     NA               NA           NA          NA
5 NA     NA               NA           NA          NA
6 NA     NA               NA           NA          NA
  georeferenceVerificationStatus verbatimDepth accessRights subgenus subgenusid
1 NA                             NA            NA           NA       NA
2 NA                             NA            NA           NA       NA
3 NA                             NA            NA           NA       NA
4 NA                             NA            NA           NA       NA
5 NA                             NA            NA           NA       NA
6 NA                             NA            NA           NA       NA

[1] 1600  137

### Compute ES50

In [10]:
# Natalie P, calculate ES50.
# Also can do before and after ES50 (one day, maybe, not today)

#convert individual counts from character to numeric
#soquel_canyon_records
soquel_canyon_records$individualCount <- as.numeric(soquel_canyon_records$individualCount)
#convert NANs to 1
soquel_canyon_records$individualCount[is.na(soquel_canyon_records$individualCount)] <- 1 
soquel_canyon_records$Count <- 1 * soquel_canyon_records$individualCount

#point_lobos_records
point_lobos_records$individualCount <- as.numeric(point_lobos_records$individualCount)
#convert NANs to 1
point_lobos_records$individualCount[is.na(point_lobos_records$individualCount)] <- 1 
point_lobos_records$Count <- 1 * point_lobos_records$individualCount

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”
Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [12]:
#calculate the number of unique species in each MPA
#soquel_canyon_records
SpeciesCount_SoquelCanyon <- aggregate(soquel_canyon_records$Count, 
                                       by=list(Category=soquel_canyon_records$scientificName),
                                       FUN=sum)

#point_lobos_records
SpeciesCount_PointLobos <- aggregate(point_lobos_records$Count, 
                                     by=list(Category=point_lobos_records$scientificName),
                                     FUN=sum)
#visualize species counts
SpeciesCount_SoquelCanyon
SpeciesCount_PointLobos

    Category                    x
1   Acanthoptilum               268
2   Actiniaria                   10
3   Actinopterygii               11
4   Aegina                       41
5   Aglaophenia struthionides     3
6   Agonidae                      4
7   Alcidae                       4
8   Alcyonacea                   20
9   Anarrhichthys ocellatus       2
10  Animalia                      1
11  Anthomastus                 154
12  Antipatharia                  1
13  Appendicularia               26
14  Argentina sialis            104
15  Asbestopluma (Asbestopluma)  11
16  Asteroidea                    1
17  Astropecten californicus     32
18  Aurelia                      46
19  Balaenoptera musculus        25
20  Balanophyllia                 1
21  Bathochordaeus                4
22  Bathylagidae                  4
23  Beroe                       127
24  Bolinopsis                   69
25  Caniformia                    1
26  Caridea                     935
27  Caryophylliidae              41
28  Cerorhinca monocerata        45
29  Cetacea                       3
30  Chaetognatha                  5
⋮   ⋮                           ⋮
196 Sebastes pinniger             3
197 Sebastes rufus               14
198 Sebastes saxicola           244
199 Sebastes semicinctus         78
200 Sebastes wilsoni             31
201 Sergestidae                 477
202 Siphonophorae                 5
203 Solmissus                     7
204 Stercorarius pomarinus        2
205 Sterna                        1
206 Sterna paradisaea             2
207 Stylaster                     1
208 Stylaster californicus        1
209 Swiftia                       4
210 Swiftia pacifica              1
211 Swiftia simplex               4
212 Synodus lucioceps             4
213 Tetronarce californica       24
214 Teuthida                    542
215 Thenea muricata               5
216 Thetys vagina               147
217 Trachipterus altivelis        7
218 Trachurus symmetricus         1
219 Tunicata                      1
220 Uria aalge                  158
221 Virgulariidae                28
222 Zalophus californianus       14
223 Zaniolepis                  139
224 Zaprora silenus               1
225 Zoarcidae                     4

   Category                      x
1  Actiniaria                      5
2  Actinopterygii                  2
3  Aegina                          1
4  Alcyonacea                      4
5  Amphiophiura superba            5
6  Amphiura (Amphiura) diomedeae   2
7  Anelassorhynchus abyssalis      2
8  Asteroidea                      4
9  Asteronyx loveni                1
10 Balaenoptera musculus          22
11 Bathyraja interrupta            1
12 Bothrocara molle                1
13 Calappidae                      1
14 Chimaera                        1
15 Chordata                       12
16 Cnidaria                        3
17 Crinoidea                      77
18 Decapoda                        4
19 Delphinidae                     7
20 Desmophyllum pertusum           8
21 Diphyes dispar                  5
22 Gorgonocephalidae               1
23 Hedingia californica            1
24 Heterochone calyx               1
25 Holaxonia                     105
26 Hydrolagus colliei              3
27 Icelinus filamentosus           1
28 Labridae                        1
29 Larus californicus              4
30 Larus occidentalis              5
⋮  ⋮                             ⋮
40 Parapagurus benedicti            1
41 Pelecanus occidentalis           2
42 Pennatulacea                   143
43 Pennatulidae                     5
44 Phalacrocorax penicillatus       2
45 Phalaropus lobatus              19
46 Phocoenoides dalli               4
47 Pleuronectiformes               11
48 Plexauridae                      9
49 Poecillastra                     2
50 Porifera                      1310
51 Ptilosarcus                      3
52 Puffinus griseus                 2
53 Rathbunaster californicus       11
54 Rhabdocalyptus dawsoni          53
55 Rhinobatidae                     1
56 Scleractinia                    31
57 Scorpaenidae                     5
58 Sebastes                        59
59 Sebastes chlorostictus           1
60 Sebastes proriger                1
61 Sebastes ruberrimus              2
62 Sebastes saxicola                1
63 Sebastolobus                     1
64 Staurocalyptus                   1
65 Stylaster californicus           9
66 Swiftia                         15
67 Thrissacanthias penicillatus     4
68 Uria aalge                       1
69 Xestospongia                     6

In [14]:
#calculate the ES50 value
#Hurlbert's index, or ES50, is the expected number of distinct species 
#in a random sample of 50 observations; it is a bias-indepenent indicator 
#on marine biodiversity richness. It has the ability to somewhat correct for sampling bias.
#0-20: low, 30-50: high

ES50_SoquelCanyon = rarefy(SpeciesCount_SoquelCanyon$x,50) 
ES50_PointLobos = rarefy(SpeciesCount_PointLobos$x,50) 

ES50_SoquelCanyon
ES50_PointLobos

ES50_SoquelCanyon2 = rarefy(SpeciesCount_SoquelCanyon$x,50) 
ES50_PointLobos2 = rarefy(SpeciesCount_PointLobos$x,50) 

ES50_SoquelCanyon2
ES50_PointLobos2

[1] 2.878146
attr(,"Subsample")
[1] 50

[1] 12.2153
attr(,"Subsample")
[1] 50

[1] 2.878146
attr(,"Subsample")
[1] 50

[1] 12.2153
attr(,"Subsample")
[1] 50

### Choose a taxonomic group of interest

In [ ]:
#Working with genus Sebastes (rockfish)

EnvironmentalMetricPresent <- function(polygon, taxa, metric) {
    
    #obtain occurrences of taxa of interest within the polygon of interest
    taxaPresence <- occurrence(geometry = polygon, taxa)
    
    #create dataframe of the environmental data as well as the lat/lon of the sighting
    environmentalMetricDF <- data.frame(EnvironmentalData = taxaPresence[metric], 
                                   longitude = taxaPresence$decimalLongitude, 
                                   latitude = taxaPresence$decimalLatitude, 
                                   date = taxaPresence$eventDate)
    
    return(environmentalMetricDF)
}

### Get sightings locations/times of taxonomic group

### Get associated environmental data and visualize